# Build artifacts (user-space)
boilerplate/*
!boilerplate/*.c
!boilerplate/*.h
!boilerplate/*.sh
!boilerplate/Makefile

# Kernel module build artifacts
*.ko
*.o
*.mod
*.mod.c
*.mod.o
*.cmd
Module.symvers
modules.order
.tmp_versions/

# Generic build outputs
*.out
*.elf
*.bin
*.d

# Root filesystems
rootfs-base/
rootfs-*/
rootfs-*.tar.gz

# Logs & runtime files
*.log
logs/
*.sock
/tmp/mini_runtime.sock

# Debug / profiling
*.perf
perf.data*
gmon.out

# Environment files
.env
.env.*

# Editor / OS junk
*.swp
*~
.vscode/
.DS_Store